<h1 class="title is-1">Magic the Gathering</h1>
<div class="columns">
  <div class="column">
    <h2 class="title is-2">MTG Cards</h2>
    <ul class="ml-5">
      <% @cards.each do | card | %>
        <li>
            <%= link_to (card.name + ", " + card.magic_set.name), card %>
            <em> ($<%= number_with_precision(card.product.price, precision: 2) %>)</em>
        </li>
      <% end %>
    </ul>
    <p>
      <%= link_to "Check out the rest of the cards!", cards_path %>
    </p>
  </div>

  <div class="column">
    <h2 class="title is-2">Products</h2>
    <ul class="ml-5">
      <% @products.each do | product | %>
        <li>
            <%= link_to product.card.name, product.card %>
            <em> (<%= product.stock %> in stock | $<%= number_with_precision(product.price, precision: 2) %> each)</em>
        </li>
      <% end %>
    </ul>
    <p>
      <%= link_to "See the rest of our products here!", products_index_path %>
    </p>
  </div>

  <div class="column">
    <h2 class="title is-2">Big Ticket Items</h2>
    <ul class="ml-5">
      <% @ticket_items.each do | item | %>
        <li>
            <%= link_to item.card.name, item.card %>
            <em> ($<%= number_with_precision(item.price, precision: 2) %> | <%= item.stock %> in stock)</em>

        </li>
      <% end %>
    </ul>
    <p>
      <%= link_to "See all that we have to offer here!", products_index_path %>
    </p>
  </div>
</div>
