<h1 class="title is-1">Card Search Results</h1>

<%= paginate @cards %>

<div class="row margin-twenty5-zero margin-b-zero pagination-row">
  <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero">
    <table class="table is-bordered is-hoverable is-fullwidth">
      <thead>
        <th>Name</th>
        <th>Flavour Name</th>
        <th>Set</th>
        <th>Original Printing</th>
        <th>Total Printings</th>
        <th>Finishes</th>
        <th>Color Identity</th>
        <th>CMC</th>
        <th>Mana Cost</th>
        <th>Type</th>
        <th>Supertype</th>
        <th>Subtype</th>
        <th>Rarity</th>
      </thead>

      <% @cards.each do | card | %>
        <tr>
          <td><%= link_to card.name, card %></td>       <!-- Name -->
          <td><%= card.flavor_name %></td>              <!-- Flavour Name -->
          <td><%= link_to card.magic_set.name, card.magic_set %></td>                   <!-- Current Set (Name) -->
          <td><%= link_to card.original_printing.name, card.original_printing %></td>   <!-- Current Set (Name) -->
          <td><%= card.magic_sets.count %></td>         <!-- Total Printings (Count) -->
          <td>
            <ul>
              <% card.finishes.split(",").each do | f |%>
                <li><%= f %></li>
              <% end %>
            </ul>
          </td>                 <!-- Finishes -->
          <td><%= card.color_identity %></td>           <!-- Color Identity -->
          <td><%= card.cmc %></td>                      <!-- CMC -->
          <td><%= card.mana_cost %></td>                <!-- Mana Cost -->
          <td>
            <ul>
              <% card.types.each do | t | %>
                <li><%=t.name%></li>
              <% end %>
            </ul>
          </td>                                         <!-- Type -->
          <td>
            <ul>
              <% card.supertypes.each do | t | %>
                <li><%=t.name%></li>
              <% end %>
            </ul>
          </td>                                         <!-- Supertype -->
          <td>
            <ul>
              <% card.subtypes.each do | t | %>
                <li><%=t.name%></li>
              <% end %>
            </ul>
          </td>                                         <!-- Subtype -->
          <td><%= card.rarity %></td>                   <!-- Rarity -->
      <% end %>

    </table>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 pagination-info">
    <span class=”pull-right”><%= page_entries_info(@cards) %></span>
  </div>
</div>