<div class="card">
    <a href=<%= cards_show_path id: product.card %>>
      <div class="card-image">
        <figure class="image is-2by3">
          <img src="<%= get_product_image(product) %>" alt="<%= product.card.name %> image">
        </figure>
      </div>
    </a>
    <div class="card-header">
      <h1 class="card-header-title">
        <%= product.card.name %>
      </h1>
    </div>
    <div class="card-content">
      <div>
        <% if product.stock > 0 %>
          Stock : <%=product.stock%>
        <% else %>
          <%= "Out of Stock" %>
        <% end %>
      </div>
      <div>
        Price : $<%= number_with_precision(product.price, precision: 2) %>
      </div>
      <% if !session[:ids].include?(product.id) %>
        <%= button_to 'Add to Cart', add_to_cart_path(product.id),  :disabled => product.stock == 0, class: "button is-primary is-normal" %>
      <% else %>
        BALFEWAFHI
      <% end %>
    </div>
</div>